<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Muistilista</title>
        <meta charset="UTF-8"/>
        

    </head>

    <body>

        <ul id="navi">
            <li><a href="/index">Etusivu</a></li>
            <li><a href="/lista">Muistilista</a></li>
            <li style="float:right"><a href="/kirjautuminen">Kirjaudu</a></li>
        </ul>
        

        <table>
            <tr>
                <td>Ensimmäinen muistettava asia</td>
                <td><form action="/poista" method="POST"></form><input type="submit" value="Poista"></input></td>
            </tr>
            <tr>
                <td>Toinen muistettava asia</td>
                <td><form action="/poista" method="POST"></form><input type="submit" value="Poista"></input></td>
            </tr>
        </table>

        <p style="float:left">Tässä on valitun tehtävän yksityiskohtia tai tarkempi kuvaus</p>
        <button id="muokkaa">Muokkaa</button>
        <button id="poista">Poista</button>
        <!-- <a th:href="/lisaa"></a> -->
        
        <div>
            <h2 th:text="${kayttaja}">Kayttajan nimi tähän</h2>
        </div>

        <footer>TSOHA-muistilista</footer>

    </body>
</html>